
<ion-content color="primary" padding>
  <div class="div_general">
    <img src="../../../assets/logo.png" width="75%"> <br><br>
    <div class="div_mayor">

        <ion-item>
          <ion-label><ion-icon name="person"></ion-icon></ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label><ion-icon name="key"></ion-icon></ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-button routerLink="/home" color="favorite" class="button" expand="block">
          INGRESAR
        </ion-button>

    </div>
  </div>
</ion-content>