/** Ionic CSS Variables **/
:root {

  //Paleta Material Desing
  /** primary **/
  --ion-color-primary: #00838f;
  --ion-color-primary-rgb: 0,131,143;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #00737e;
  --ion-color-primary-tint: #1a8f9a;

  /** secondary **/
  --ion-color-secondary: #c5cae9;
  --ion-color-secondary-rgb: 197,202,233;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #adb2cd;
  --ion-color-secondary-tint: #cbcfeb;

  /** tertiary **/
  --ion-color-tertiary: #ff5252;
  --ion-color-tertiary-rgb: 255, 82, 82;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #e04848;
  --ion-color-tertiary-tint: #ff6363;

  /** success **/
  --ion-color-success: #4bae4f;
  --ion-color-success-rgb: 75, 174, 79;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #429946;
  --ion-color-success-tint: #5db661;

  /** warning **/
  --ion-color-warning: #ffc107;
  --ion-color-warning-rgb: 255, 193, 7;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0aa06;
  --ion-color-warning-tint: #ffc720;

  /** danger **/
  --ion-color-danger: #e91d45;
  --ion-color-danger-rgb: 233, 29, 69;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cd1a3d;
  --ion-color-danger-tint: #eb3458;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #ccd1e1;
  --ion-color-medium-rgb: 204, 209, 225;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #b4b8c6;
  --ion-color-medium-tint: #d1d6e4;

  /** light **/
  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

  --ion-color-redlight: #ff7979;
  --ion-color-redlight-rgb: 255,121,121;
  --ion-color-redlight-contrast: #000000;
  --ion-color-redlight-contrast-rgb: 0,0,0;
  --ion-color-redlight-shade: #e06a6a;
  --ion-color-redlight-tint: #ff8686;

  --ion-color-primary-text: #212121;
  --ion-color-primary-text-rgb: 33, 33, 33;
  --ion-color-primary-text-contrast: #ffffff;
  --ion-color-primary-text-contrast-rgb: 255, 255, 255;
  --ion-color-primary-text-shade: #1d1d1d;
  --ion-color-primary-text-tint: #373737;

  --ion-color-greenlight: #8bcd8e;
  --ion-color-greenlight-rgb: 139,205,142;
  --ion-color-greenlight-contrast: #000000;
  --ion-color-greenlight-contrast-rgb: 0,0,0;
  --ion-color-greenlight-shade: #7ab47d;
  --ion-color-greenlight-tint: #97d299;

  --ion-font-family: "Montserrat";

  --ion-color-pink: #E91E63;
  --ion-color-pink-rgb: 233, 30, 99;
  --ion-color-pink-contrast: #ffffff;
  --ion-color-pink-contrast-rgb: 255, 255, 255;
  --ion-color-pink-shade: #cd1a57;
  --ion-color-pink-tint: #eb3573;

  --ion-color-pinkdark: #C2185B;
  --ion-color-pinkdark-rgb: 194, 24, 91;
  --ion-color-pinkdark-contrast: #ffffff;
  --ion-color-pinkdark-contrast-rgb: 255, 255, 255;
  --ion-color-pinkdark-shade: #ab1550;
  --ion-color-pinkdark-tint: #c82f6b;

  --ion-color-teal: #009688;
  --ion-color-teal-rgb: 0, 150, 136;
  --ion-color-teal-contrast: #ffffff;
  --ion-color-teal-contrast-rgb: 255, 255, 255;
  --ion-color-teal-shade: #008478;
  --ion-color-teal-tint: #1aa194;

  --ion-color-tealdark: #00796B;
  --ion-color-tealdark-rgb: 0, 121, 107;
  --ion-color-tealdark-contrast: #ffffff;
  --ion-color-tealdark-contrast-rgb: 255, 255, 255;
  --ion-color-tealdark-shade: #006a5e;
  --ion-color-tealdark-tint: #1a867a;

  --ion-color-purple: #673AB7;
  --ion-color-purple-rgb: 103, 58, 183;
  --ion-color-purple-contrast: #ffffff;
  --ion-color-purple-contrast-rgb: 255, 255, 255;
  --ion-color-purple-shade: #5b33a1;
  --ion-color-purple-tint: #764ebe;

  --ion-color-purpledark: #512DA8;
  --ion-color-purpledark-rgb: 81, 45, 168;
  --ion-color-purpledark-contrast: #ffffff;
  --ion-color-purpledark-contrast-rgb: 255, 255, 255;
  --ion-color-purpledark-shade: #472894;
  --ion-color-purpledark-tint: #6242b1;

  --ion-color-yellow: #F39C12;
  --ion-color-yellow-rgb: 243, 156, 18;
  --ion-color-yellow-contrast: #ffffff;
  --ion-color-yellow-contrast-rgb: 255, 255, 255;
  --ion-color-yellow-shade: #d68910;
  --ion-color-yellow-tint: #f4a62a;

  --ion-color-yellowdark: #DA8C10;
  --ion-color-yellowdark-rgb: 218, 140, 16;
  --ion-color-yellowdark-contrast: #ffffff;
  --ion-color-yellowdark-contrast-rgb: 255, 255, 255;
  --ion-color-yellowdark-shade: #c07b0e;
  --ion-color-yellowdark-tint: #de9828;

  --ion-color-graybck: #e2e2e2;
  --ion-color-graybck-rgb: 226, 226, 226;
  --ion-color-graybck-contrast: #000000;
  --ion-color-graybck-contrast-rgb: 0, 0, 0;
  --ion-color-graybck-shade: #c7c7c7;
  --ion-color-graybck-tint: #e5e5e5;

  --ion-color-green: #4CAF50;
  --ion-color-green-rgb: 76, 175, 80;
  --ion-color-green-contrast: #ffffff;
  --ion-color-green-contrast-rgb: 255, 255, 255;
  --ion-color-green-shade: #439a46;
  --ion-color-green-tint: #5eb762;

  --ion-color-greendark: #388E3C;
  --ion-color-greendark-rgb: 56, 142, 60;
  --ion-color-greendark-contrast: #ffffff;
  --ion-color-greendark-contrast-rgb: 255, 255, 255;
  --ion-color-greendark-shade: #317d35;
  --ion-color-greendark-tint: #4c9950;

  --ion-color-orange: #FF5722;
  --ion-color-orange-rgb: 255, 87, 34;
  --ion-color-orange-contrast: #ffffff;
  --ion-color-orange-contrast-rgb: 255, 255, 255;
  --ion-color-orange-shade: #e04d1e;
  --ion-color-orange-tint: #ff6838;

  --ion-color-orangedark: #E64A19;
  --ion-color-orangedark-rgb: 230, 74, 25;
  --ion-color-orangedark-contrast: #ffffff;
  --ion-color-orangedark-contrast-rgb: 255, 255, 255;
  --ion-color-orangedark-shade: #ca4116;
  --ion-color-orangedark-tint: #e95c30;

  --ion-color-red: #F44336;
  --ion-color-red-rgb: 244, 67, 54;
  --ion-color-red-contrast: #ffffff;
  --ion-color-red-contrast-rgb: 255, 255, 255;
  --ion-color-red-shade: #d73b30;
  --ion-color-red-tint: #f5564a;

  --ion-color-reddark: #D32F2F;
  --ion-color-reddark-rgb: 211, 47, 47;
  --ion-color-reddark-contrast: #ffffff;
  --ion-color-reddark-contrast-rgb: 255, 255, 255;
  --ion-color-reddark-shade: #ba2929;
  --ion-color-reddark-tint: #d74444;

  --ion-color-teallight: #B2DFDB;
  --ion-color-teallight-rgb: 178,223,219;
  --ion-color-teallight-contrast: #000000;
  --ion-color-teallight-contrast-rgb: 0,0,0;
  --ion-color-teallight-shade: #9dc4c1;
  --ion-color-teallight-tint: #bae2df;

  --ion-color-greylight: #d4d4d4;
  --ion-color-greylight-rgb: 212,212,212;
  --ion-color-greylight-contrast: #000000;
  --ion-color-greylight-contrast-rgb: 0,0,0;
  --ion-color-greylight-shade: #bbbbbb;
  --ion-color-greylight-tint: #d8d8d8;

  --ion-color-background: #E1E2E1;
  --ion-color-background-rgb: 225,226,225;
  --ion-color-background-contrast: #000000;
  --ion-color-background-contrast-rgb: 0,0,0;
  --ion-color-background-shade: #c6c7c6;
  --ion-color-background-tint: #e4e5e4;

  --ion-color-dark: #005662;
  --ion-color-dark-rgb: 0,86,98;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #004c56;
  --ion-color-dark-tint: #1a6772;

}

/* Optional CSS, this is added for the flashing that happens when toggling between themes */
ion-item {
  --transition: none;
}

.ion-color-primary-text {
  --ion-color-base: var(--ion-color-primary-text);
  --ion-color-base-rgb: var(--ion-color-primary-text-rgb);
  --ion-color-contrast: var(--ion-color-primary-text-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-text-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-text-shade);
  --ion-color-tint: var(--ion-color-primary-text-tint);
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/monserat.woff2") format("woff2");
}

* {
  font-family: "Montserrat", sans-serif;
}

.ion-color-pink {
  --ion-color-base: var(--ion-color-pink);
  --ion-color-base-rgb: var(--ion-color-pink-rgb);
  --ion-color-contrast: var(--ion-color-pink-contrast);
  --ion-color-contrast-rgb: var(--ion-color-pink-contrast-rgb);
  --ion-color-shade: var(--ion-color-pink-shade);
  --ion-color-tint: var(--ion-color-pink-tint);
}

.ion-color-background {
  --ion-color-base: var(--ion-color-background);
  --ion-color-base-rgb: var(--ion-color-background-rgb);
  --ion-color-contrast: var(--ion-color-background-contrast);
  --ion-color-contrast-rgb: var(--ion-color-background-contrast-rgb);
  --ion-color-shade: var(--ion-color-background-shade);
  --ion-color-tint: var(--ion-color-background-tint);
}

.ion-color-greylight {
  --ion-color-base: var(--ion-color-greylight);
  --ion-color-base-rgb: var(--ion-color-greylight-rgb);
  --ion-color-contrast: var(--ion-color-greylight-contrast);
  --ion-color-contrast-rgb: var(--ion-color-greylight-contrast-rgb);
  --ion-color-shade: var(--ion-color-greylight-shade);
  --ion-color-tint: var(--ion-color-greylight-tint);
}

.ion-color-grey {
  --ion-color-base: var(--ion-color-grey);
  --ion-color-base-rgb: var(--ion-color-grey-rgb);
  --ion-color-contrast: var(--ion-color-grey-contrast);
  --ion-color-contrast-rgb: var(--ion-color-grey-contrast-rgb);
  --ion-color-shade: var(--ion-color-grey-shade);
  --ion-color-tint: var(--ion-color-grey-tint);
}

.ion-color-greenlight {
  --ion-color-base: var(--ion-color-greenlight);
  --ion-color-base-rgb: var(--ion-color-greenlight-rgb);
  --ion-color-contrast: var(--ion-color-greenlight-contrast);
  --ion-color-contrast-rgb: var(--ion-color-greenlight-contrast-rgb);
  --ion-color-shade: var(--ion-color-greenlight-shade);
  --ion-color-tint: var(--ion-color-greenlight-tint);
}

.ion-color-pinkdark {
  --ion-color-base: var(--ion-color-pinkdark);
  --ion-color-base-rgb: var(--ion-color-pinkdark-rgb);
  --ion-color-contrast: var(--ion-color-pinkdark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-pinkdark-contrast-rgb);
  --ion-color-shade: var(--ion-color-pinkdark-shade);
  --ion-color-tint: var(--ion-color-pinkdark-tint);
}

.ion-color-teal {
  --ion-color-base: var(--ion-color-teal);
  --ion-color-base-rgb: var(--ion-color-teal-rgb);
  --ion-color-contrast: var(--ion-color-teal-contrast);
  --ion-color-contrast-rgb: var(--ion-color-teal-contrast-rgb);
  --ion-color-shade: var(--ion-color-teal-shade);
  --ion-color-tint: var(--ion-color-teal-tint);
}

.ion-color-tealdark {
  --ion-color-base: var(--ion-color-tealdark);
  --ion-color-base-rgb: var(--ion-color-tealdark-rgb);
  --ion-color-contrast: var(--ion-color-tealdark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tealdark-contrast-rgb);
  --ion-color-shade: var(--ion-color-tealdark-shade);
  --ion-color-tint: var(--ion-color-tealdark-tint);
}

.ion-color-purple {
  --ion-color-base: var(--ion-color-purple);
  --ion-color-base-rgb: var(--ion-color-purple-rgb);
  --ion-color-contrast: var(--ion-color-purple-contrast);
  --ion-color-contrast-rgb: var(--ion-color-purple-contrast-rgb);
  --ion-color-shade: var(--ion-color-purple-shade);
  --ion-color-tint: var(--ion-color-purple-tint);
}

.ion-color-purpledark {
  --ion-color-base: var(--ion-color-purpledark);
  --ion-color-base-rgb: var(--ion-color-purpledark-rgb);
  --ion-color-contrast: var(--ion-color-purpledark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-purpledark-contrast-rgb);
  --ion-color-shade: var(--ion-color-purpledark-shade);
  --ion-color-tint: var(--ion-color-purpledark-tint);
}

.ion-color-yellow {
  --ion-color-base: var(--ion-color-yellow);
  --ion-color-base-rgb: var(--ion-color-yellow-rgb);
  --ion-color-contrast: var(--ion-color-yellow-contrast);
  --ion-color-contrast-rgb: var(--ion-color-yellow-contrast-rgb);
  --ion-color-shade: var(--ion-color-yellow-shade);
  --ion-color-tint: var(--ion-color-yellow-tint);
}

.ion-color-yellowdark {
  --ion-color-base: var(--ion-color-yellowdark);
  --ion-color-base-rgb: var(--ion-color-yellowdark-rgb);
  --ion-color-contrast: var(--ion-color-yellowdark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-yellowdark-contrast-rgb);
  --ion-color-shade: var(--ion-color-yellowdark-shade);
  --ion-color-tint: var(--ion-color-yellowdark-tint);
}

.ion-color-graybck {
  --ion-color-base: var(--ion-color-graybck);
  --ion-color-base-rgb: var(--ion-color-graybck-rgb);
  --ion-color-contrast: var(--ion-color-graybck-contrast);
  --ion-color-contrast-rgb: var(--ion-color-graybck-contrast-rgb);
  --ion-color-shade: var(--ion-color-graybck-shade);
  --ion-color-tint: var(--ion-color-graybck-tint);
}

.ion-color-green {
  --ion-color-base: var(--ion-color-green);
  --ion-color-base-rgb: var(--ion-color-green-rgb);
  --ion-color-contrast: var(--ion-color-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-green-shade);
  --ion-color-tint: var(--ion-color-green-tint);
}

.ion-color-greendark {
  --ion-color-base: var(--ion-color-greendark);
  --ion-color-base-rgb: var(--ion-color-greendark-rgb);
  --ion-color-contrast: var(--ion-color-greendark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-greendark-contrast-rgb);
  --ion-color-shade: var(--ion-color-greendark-shade);
  --ion-color-tint: var(--ion-color-greendark-tint);
}

.ion-color-orange {
  --ion-color-base: var(--ion-color-orange);
  --ion-color-base-rgb: var(--ion-color-orange-rgb);
  --ion-color-contrast: var(--ion-color-orange-contrast);
  --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb);
  --ion-color-shade: var(--ion-color-orange-shade);
  --ion-color-tint: var(--ion-color-orange-tint);
}

.ion-color-orangedark {
  --ion-color-base: var(--ion-color-orangedark);
  --ion-color-base-rgb: var(--ion-color-orangedark-rgb);
  --ion-color-contrast: var(--ion-color-orangedark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-orangedark-contrast-rgb);
  --ion-color-shade: var(--ion-color-orangedark-shade);
  --ion-color-tint: var(--ion-color-orangedark-tint);
}

.ion-color-red {
  --ion-color-base: var(--ion-color-red);
  --ion-color-base-rgb: var(--ion-color-red-rgb);
  --ion-color-contrast: var(--ion-color-red-contrast);
  --ion-color-contrast-rgb: var(--ion-color-red-contrast-rgb);
  --ion-color-shade: var(--ion-color-red-shade);
  --ion-color-tint: var(--ion-color-red-tint);
}

.ion-color-redlight {
  --ion-color-base: var(--ion-color-redlight);
  --ion-color-base-rgb: var(--ion-color-redlight-rgb);
  --ion-color-contrast: var(--ion-color-redlight-contrast);
  --ion-color-contrast-rgb: var(--ion-color-redlight-contrast-rgb);
  --ion-color-shade: var(--ion-color-redlight-shade);
  --ion-color-tint: var(--ion-color-redlight-tint);
}

.ion-color-reddark {
  --ion-color-base: var(--ion-color-reddark);
  --ion-color-base-rgb: var(--ion-color-reddark-rgb);
  --ion-color-contrast: var(--ion-color-reddark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-reddark-contrast-rgb);
  --ion-color-shade: var(--ion-color-reddark-shade);
  --ion-color-tint: var(--ion-color-reddark-tint);
}
.ion-color-teallight {
  --ion-color-base: var(--ion-color-teallight);
  --ion-color-base-rgb: var(--ion-color-teallight-rgb);
  --ion-color-contrast: var(--ion-color-teallight-contrast);
  --ion-color-contrast-rgb: var(--ion-color-teallight-contrast-rgb);
  --ion-color-shade: var(--ion-color-teallight-shade);
  --ion-color-tint: var(--ion-color-teallight-tint);
}

.ion-color-dark {
  --ion-color-base: var(--ion-color-dark);
  --ion-color-base-rgb: var(--ion-color-dark-rgb);
  --ion-color-contrast: var(--ion-color-dark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dark-contrast-rgb);
  --ion-color-shade: var(--ion-color-dark-shade);
  --ion-color-tint: var(--ion-color-dark-tint);
}

ion-card {
  border-radius: 20px;
  --background: #ffff;
}

ion-content{
  --ion-background-color:#e1e2e1;
}